/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #f5d7c1;
  color: #333333;
  padding: 10px 0;
  text-align: center;
}

h1 {
  margin: 0;
}

/* Form Container Styles */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff5e1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.role-dropdown {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* Optionally, you can add more styles */
  width: 100%; /* Adjust width as needed */
  box-sizing: border-box; /* Ensures padding is included in width */
}

/* Optional: Add styles for the label for better alignment */
label {
  display: block; /* Makes the label take full width */
  margin-bottom: 5px; /* Adds some space between the label and dropdown */
}

input[type="submit"] {
  padding: 10px;
  background-color: #ff9c46;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Link and Text Styling */
p {
  text-align: center;
  margin-top: 20px;
  color: #333333;
}

a {
  color: #ff9c46;
}

/* Footer Styles */
footer {
  background-color: #f5d7c1;
  color: #333333;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
